.mini-calendar {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
  margin-bottom: 10px;
}

.mini-calendar-header {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.mini-date-number {
  font-weight: 600;
}

.mini-nav-button {
  color: rgb(182, 182, 184);
  background: none;
  font-weight: 800;
  border-radius: 50%;
  font-size: 1.5rem;
  height: 30px; 
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mini-nav-button:hover {
  color: black;
}
.mini-month-and-year {
  text-align: center;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.7rem;
}

.mini-calendar-week {
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}

.mini-event-row {
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  align-items: center;
  justify-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mini-weekday-row {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}